.titulo {
  margin-top: 27px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;

  /* or 150% */
  letter-spacing: 0.01em;

  color: #6f6f6f;
}

.sub-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  /* or 150% */
  letter-spacing: 0.01em;

  color: #6f6f6f;
}

.secction-title {
  margin-top: 30px;
  color: #34bdec;
}
hr {
  border: 1.5px solid #34bdec;
}
