<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript: void(0)">
                      Link
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0)">
                        Link
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0)">
                        Link
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0)">
                        Url Link
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="javascript: void(0)" target="_blank">Smart Bussines</a> 
        </div>
    </div>
</footer>
