.button {
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.button span {
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .btn-container {
    margin-left: 109px;
    margin-right: 130px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .btn-container {
    margin-left: 50px;
    margin-right: 65px;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .btn-container {
    margin-left: 25px;
    margin-right: 36px;
  }
}

.btn-left {
  background: #EEEEEE;
  color: #6F6F6F;
}

.btn-right {
  background: #5FC868;
  color: #fff;
}

.highlight {
  color: #34bdec;
  font-weight: bold;
}

.highlight-link {
  color: #34bdec;
  text-decoration: underline;
}



@media screen and (min-width: 1200px) {
  .instructions-body {
    margin-left: 92px;
    margin-right: 132px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1199px) {
  .instructions-body {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.instructions-subtitle {
  font-weight: bold;
  font-size: 18px; 
  color: #11458E;
}

.instructions-title {
  color: #0093D6;
  font-weight: bold;
  font-size: 22px;
}

.usd {
  margin-top: 0;
  font-size: 35px;
}

.masDiezMil {
  margin-top: 0;
  font-size: 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1390px) {
  .usd {
    margin-top: 15px;
    font-size: 28px;
  }
}

@media screen and (min-width: 300px) and (max-width: 446px) {
  .usd {
    margin-top: 15px;
    font-size: 28px;
  }
}

.padre {
  margin-left: 15px;
  position: relative; /* Se usa para que no se salga la imagen de la caja, ya que la imagen tiene position absolute */
  width: 30px;
  height: 30px;
  width: 10%;
}
.padre img {
  position: absolute; /* se usa en caso de este div, donde tiene la altura y el ancho definido, sin esto top, right y left no funcionarían */
  width: 100px;
  top: 25%; /* sirve en caso de un div como este, donde tiene una altura definida, en caso de que la altura no este definida esta edición no se pone ; */
  right: 0; /* se debe usar para que margin 0 auto funcione */
  left: 0; /* se debe usar para que margin 0 auto funcione */
  margin: 0 auto; /* Esto lo centra */
}

@media screen and (min-width: 600px) and (max-width: 1390px) {
  .textos {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 42px;
    font-size: 16px;
    color: #6F6F6F;
  }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
  .textos {
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 21px;
    font-size: 16px;
    color: #6F6F6F;
  }
}

/* .title {
  margin-top: 27px;
  margin-bottom: 8px;
} */

/* Nuevos ajustes */
.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #11458E;
}

.subTitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #4D4646;
  margin-left: 2rem;
}

.subTitleB {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #11458E;
}

.textHead {
  font-family: Lato;
  color: #6F6F6F;
  font-size: 22px;
  margin-left: 2rem;
}

.textSBC {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #5F5F5F;
}