<nav class="navbar-login fixed-top shadow">
  <div class="container-nav">
    <div class="d-flex justify-content-between align-items-center">

      <div class="pt-2 pb-2">
        <img class="img logo-width" src="assets/img/sbc2020_small1.png" />
      </div>

      <div class="dropdown">
        <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="color: #11458E;">
          <i class="material-icons">public</i>
          <span> {{ LangName }} </span>
        </a>

        <div class=" select-css dropdown-menu dropdown-menu-right mt-4" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang(languajes.id)"
            routerLinkActive="active" *ngFor="let languajes of Languages">
            <img style="height: 30px" src="{{ languajes.path }}" alt="" />
            <span class="ml-3">{{languajes.title}}</span>
          </a>
        </div>

        <!--
                              <div
                                class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="navbarDropdownMenuLink" style="margin-top: -5px;"
                              >
                                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                                  <img
                                    style="height: 30px"
                                    src="../../../assets/img/banderas/estados-unidos-de-america.png"
                                    alt=""
                                  />
                                  <span class="ml-3">{{ 'Menu.English' | translate }}</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                                  <img
                                    style="height: 30px"
                                    src="../../../assets/img/banderas/mexico.png"
                                    alt=""
                                  />
                                  <span class="ml-3">{{ 'Menu.Spanish' | translate }}</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('jp')">
                                  <img
                                    style="height: 30px"
                                    src="../../../assets/img/banderas/japon.png"
                                    alt=""
                                  />
                                  <span class="ml-3">{{ 'Menu.Japanese' | translate }}</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('pt')">
                                  <img
                                    style="height: 30px"
                                    src="../../../assets/img/banderas/portugal.png"
                                    alt=""
                                  />
                                  <span class="ml-3">{{ 'Menu.Portuguese' | translate }}</span>
                                </a>
                              </div>
                    -->
      </div>
    </div>
  </div>
</nav>

<div class="wrapper fadeInDown" style="margin-top: 150px;">
  <div id="formContent">
    <!--  <div style="text-align: center">
      <ul class="nav nav-tabs barra_horizontal_ul">
               <li class="nav-item barra_horizontal_li">
          <h2 class="inactive underlineHover" data-toggle="tab" href="#login">
            Ingresafjhj
          </h2>
        </li> -->
    <!--         <li class="nav-item barra_horizontal_li">
          <h2 class="active underlineHover" data-toggle="tab" href="#register">
            ¿Aún no eres socio?
          </h2>
        </li> 
      </ul>
    </div>-->
    <!-- Tabs Titles -->

    <br />
    <div class="tab-content">

      <h1> {{ 'Register.Title' | translate}} </h1>
      <!-- Tab Login -->
      <!--       <div id="login" class="pane tab-pane active">
        <div class="fadeIn">
          <img
            class="mb-4"
            src="assets/img/sbc_interno1.png"
            alt=""
            width="240"
            height="72"
          />
        </div>
        <h2 class="fadeIn" style="color: #11458e">
          Bienvenido a tu Smart Office
        </h2>
        <form class="form-signin" (ngSubmit)="login(forma)" #forma="ngForm">
          <input
            type="text"
            id="login"
            class="fadeIn"
            placeholder="Correo Electrónico/ID de Socio"
            name="email"
            ngModel
            #email="ngModel"
            required
            autofocus
          />
          <input
            type="password"
            id="password"
            class="fadeIn"
            placeholder="Contraseña"
            name="password"
            ngModel
            #password="ngModel"
            passwordToggle
            required
          />

          <input
            type="hidden"
            id="ReqIp"
            name="ReqIp"
            ngModel
            [(ngModel)]="ReqIp"
            required
          />

          <div class="mt-1">
            <a
              class="underlineHover"
              [routerLink]="['/recuperarpsw']"
              style="color: red"
            >
              ¿Olvidaste tu contraseña?
            </a>
          </div>

          <div>
            <input
              type="submit"
              class="btn btn-primary btn-lg fadeIn mt-3"
              style="background-color: #11458e; border-radius: 35px"
              value="Ingresar"
            />
          </div>
        </form>

        <div id="formFooter"></div>
      </div> -->
      <!-- Fin Tabs Titles -->

      <!-- Tab Register -->
      <div id="register" class="pane tab-pane active">
        <h2 class="fadeIn" style="color: #11458e">
          {{ 'Register.PersonRefer' | translate}} <br />
          <span style="color: #0093d6; font-weight: 700"> {{ sponsor }} </span>
        </h2>
        <form class="form-signin" (ngSubmit)="registerNewProspect(formaReg)" #formaReg="ngForm">
          <input type="hidden" id="idSuscriber" name="idSuscriber" name="idSuscriber" [(ngModel)]="idSuscriber" />

          <div class="col-11 ml-3 ">
            <mat-form-field appearance="fill" class="fadeIn ph-left">
              <mat-label>{{ 'Register.Country' | translate}}</mat-label>
              <mat-select [(ngModel)]="Pais" name="Pais" required class="">
                <mat-option *ngFor="let pais of arrayPaises" [(value)]="pais.PaisCodigo">
                  {{ pais.PaisNombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--           <div class="col-11 ml-3" >
            <mat-form-field appearance="fill">
              <mat-label>País</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let pais of arrayPaises" [(value)]="pais.PaisCodigo">
                  {{ pais.PaisNombre }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <input type="hidden" id="idSuscriberInv" class="fadeIn ph-left" name="idSuscriberInv"
            placeholder="ID de Referido" name="idSuscriberInv" ngModel [(ngModel)]="idSuscriberInv" required />

          <input type="text" id="emailReg" class="fadeIn ph-left" name="emailReg"
            placeholder="{{'Register.Email' | translate}}" name="email" ngModel #email="ngModel" required />

          <!-- 
          <div class="example-container">
            <mat-form-field appearance="fill">
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div> -->

          <input type="password" id="passwordReg" class="fadeIn ph-left" name="passwordReg"
            placeholder="{{'Register.Password' | translate}}" name="password" ngModel [(ngModel)]="passwordReg"
            passwordToggle required />

          <input type="hidden" id="idValidator" name="idValidator" name="idValidator" ngModel #idValidator="ngModel" />

          <input type="password" id="repitpassword" class="fadeIn ph-left" name="repitpassword"
            placeholder="{{'Register.RepeatPassword' | translate}}" name="repitpassword" ngModel
            [(ngModel)]="repitpassword" passwordToggle required />

          <div class="container">
            <section class="example-section">
              <div class="row ml-4 mt-3">
                <mat-checkbox color="primary" class="example-margin" [(ngModel)]="avProvacidad" name="avProvacidad">
                  <span style="color: #000; font-size: 16px">{{'Register.ReadPrivacyP01' | translate}}</span>
                  <a style="color: #11458e; font-size: 16px"
                    href="https://smartfundlimited.com/privacy-notice/smartbusiness"
                    target="_blank">{{'Register.ReadPrivacyP02' | translate}}</a>
                </mat-checkbox>
              </div>
              <div class="row ml-4">
                <mat-checkbox color="primary" class="example-margin" [(ngModel)]="termCond" name="termCond">
                  <span style="color: #000; font-size: 16px">{{'Register.TermConditionsP01' | translate}}</span>
                  <a style="color: #11458e; font-size: 16px"
                    href="https://smartfundlimited.com/terms-conditions/smartbusiness" target="_blank">
                    {{'Register.TermConditionsP02' | translate}}</a>
                </mat-checkbox>
              </div>
            </section>
          </div>
          <input type="submit" class="btn btn-primary btn-lg fadeIn"
            style="background-color: #11458e; border-radius: 35px" value="{{'Register.Register' | translate}}" />
        </form>
        <div id="formFooter">
          <!--           <a class="underlineHover" [routerLink]="['/recuperarpsw']" style="color:#11458E">
            ¿Olvidaste tu contraseña?
          </a> -->
        </div>
      </div>
      <!-- Fin Tab Register -->
    </div>
  </div>
</div>
<!--
<div class=" content"  >
    <div class=" row row-nav" > 

        <div class=" col-md-11 row-nav-menu" >
            <div class="tim-icons  icon-minimal-left menu-icon"></div><a class="link" routerLink="/Home">Volver</a>

            <a class="boton_1"routerLink="/registro">¿Aún no eres socio?</a>

        </div>
        <div class=" col-md-1 row-nav-menu" ></div>
    </div>
      
    <div class=" row" style="margin-top: 80px;">
        <div class=" col-md-4"></div>
        <div class=" col-md-4">
            <div class=" col-md-11" >
                <div class=" card card-user personalizated" >
                    <div class=" card-body">
                        <p class=" card-text"></p>
                        <div class=" author">
                            <form class="form-signin" (ngSubmit)="login( forma )" #forma="ngForm" >
                                <img class="mb-4" src="assets/img/sbc_interno1.png" alt="" width="280" height="72">
                                <h1 class="h4 mb-3 ">Bienvenido a tu Smart Office</h1>
                                <label  style="text-align: left;">E-mail/ID de Socio</label>
                                <input name="email"
                                    ngModel
                                    class=" form-control"
                                    type="text"
                                    #email="ngModel" 
                                    required autofocus>
                                <label style="text-align: left;">Password</label>
                                <input 
                                    name="password"
                                    ngModel
                                    class=" form-control"
                                    type="text"
                                    #password="ngModel"
                                    passwordToggle
                                    required>
                                <div class="checkbox mb-3">
                                    <label>
                                        <a [routerLink]="['/recuperarpsw']">
                                            ¿Olvidaste tu contraseña?
                                          </a>
                                        
                                    </label>
                                </div>
     
                                <div class=" row">
                                    <div class=" col-md-12" >     
                                        <div id="recaptchaContainer" style="transform:scale(0.8);transform-origin:0 0">
                                            <re-captcha (resolved)="resolved($event)" 
                                                siteKey="6LfUFAAVAAAAAMVaC0lQGVWA5uDJzpesXo7AE8bo"
                                                style="width: 100%;">  
                                            </re-captcha>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-lg  btn-block" type="submit">Sign in</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-4"></div>
    </div>
  </div>  
-->